<?xml version="1.0" encoding="UTF-8"?>


<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 

  <pluginGroups>
    <pluginGroup>plugin-registry.xml</pluginGroup>
  </pluginGroups>


  <proxies>
  

    <!--
		
  <proxy>
      <id>proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>127.0.0.1</host>
      <port>7890</port>
      <nonProxyHosts>local.net|some.host.com|localhost|10.168.*</nonProxyHosts>
    </proxy>

  <proxy>
      <id>proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>web-proxy.us.softwaregrp.net</host>
      <port>8080</port>
      <nonProxyHosts>local.net|some.host.com|localhost|10.168.*</nonProxyHosts>
    </proxy>
	
  <proxy>
      <id>proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>127.0.0.1</host>
      <port>7890</port>
      <nonProxyHosts>local.net|some.host.com|localhost|10.168.*</nonProxyHosts>
    </proxy>


    -->
  </proxies>

  <!-- servers
   | This is a list of authentication profiles, keyed by the server-id used within the system.
   | Authentication profiles can be used whenever maven must make a connection to a remote server.
   |-->
  <servers>
  
    <!-- server
     | Specifies the authentication information to use when connecting to a particular server, identified by
     | a unique name within the system (referred to by the 'id' attribute below).
     |
     | NOTE: You should either specify username/password OR privateKey/passphrase, since these pairings are
     |       used together.
     |
    <server>
      <id>deploymentRepo</id>
      <username>repouser</username>
      <password>repopwd</password>
    </server>
    -->


  </servers>


  <mirrors>
  
    <mirror>
      <id>nexus-163</id>
      <mirrorOf>central</mirrorOf>
      <name>Nexus 163</name>
      <url>http://mirrors.163.com/maven/repository/maven-public/</url>
  </mirror>

  </mirrors>
 
 
</settings>
